package views

import "github.com/devkaare/todo/database"

templ TodosConstructor(ts []*database.Todo) {
	@base() {
		@Todos(ts)
		@TodosForm()
	}
}

templ TodoByIDConstructor(t *database.Todo) {
	@base() {
		@TodoByID(t)
	}
}
