package views

import "github.com/devkaare/todo/database"

templ TodosConstructor(todos []*database.Todo) {
	@base() {
		@TodosComponent(todos)
		@TodoCreateComponent()
	}
}

templ TodoByIDConstructor(todo *database.Todo) {
	@base() {
		@TodoByIDComponent(todo)
	}
}
