package views

import "github.com/devkaare/todo/database"

templ TodosConstructor(todos []*database.Todo) {
	@base() {
		@TodosComponent(todos)
		@TodosCreateComponent()
	}
}

templ TodoConstructor(todo *database.Todo) {
	@base() {
		@TodoComponent(todo)
	}
}
